body {
    margin: 0;
    padding: 0;
    background-color: #F0D5A3;
}

.row, .row div {
    margin: 0;
    padding: 0;
}

#end {
    position: relative;
    width: 81vw;
    top: 215px;
    left: 40px;
    animation: fadeInUp2 0.4s linear forwards;
    animation-delay: 0.4s;
    opacity: 0;

}

#endp {
    position:absolute;
    width: 81vw;
    left: 41px;
    top: 272px;
    animation: fadeInUp 0.4s linear forwards;
    animation-delay: 0.4s;
    opacity: 0;
} 

#emptynuts {
  position: absolute;
  width: 18vw;
  left: 21vw;
  top: 28vw;
  animation: fadeInUp 0.4s linear forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

#croissant {
  position: absolute;
  width: 25vw;
  left: 59vw;
  top: 108vw;
  animation: fadeInUp 0.4s linear forwards;
  animation-delay: 0.6s;
  opacity: 0;
}


#plate {
  position: absolute;
  width: 23vw;
  left: -1vw;
  top: 130vw;
  animation: fadeInUp 0.4s linear forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

#plate2 {
  position: absolute;
  width: 51vw;
  left: 41vw;
  top: -1vw;
  animation: slideInDown 0.4s linear forwards;
  animation-delay: 2s;
  opacity: 0;
}

#bar6 {
  position: absolute;
  width: 96vw;
  margin: 133.7vw 2vw;
}

#arrow {
  position: absolute;
  width: 7vw;
  margin: 19vw 5vw;
 
}

@-webkit-keyframes slideInDown {

  from {

    -webkit-transform: translate3d(0, -100%, 0);

    transform: translate3d(0, -100%, 0);

    opacity: 0;

  }



  to {

    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);

    opacity: 1;

  }

}



@keyframes slideInDown {

  from {

    -webkit-transform: translate3d(0, -100%, 0);

    transform: translate3d(0, -100%, 0);

    
    opacity: 0;

  }



  to {

    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);

    opacity: 1;
  }

}



.slideInDown {

  -webkit-animation-name: slideInDown;

  animation-name: slideInDown;

 

}


.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  
  }
  
  @keyframes fadeInUp {
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 70px, 0);
      transform: translate3d(0, 70px,0);
      -webkit-filter:blur(0px);
      
     
     
    
    }
  
  
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-filter:blur(0px);
      transform: translate3d(0, 0,0);
     
   
   
    }
  
  }

  .fadeInUp2 {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  
  }


  @keyframes fadeInUp2 {
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 70px, 0);
      transform: translate3d(0, 70px,0);
    
    }
  
  
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0,0);
     
   
   
    }
  
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  *:focus {
    outline: none;
  }
  html {  
    margin: 0;
    padding: 0;
    background-color: #F0D5A3;
    color: white;
    
  }
  
  body {
    background: none;
    color: inherit;
    font: inherit;
  }
  
  a:link, a:visited, a:hover, a:active {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
  
  
  .nav-background {
      position: absolute;
      border-radius: 5px;
      background: #ED9822;
      padding: 5px; 
      width: 10vw;
      height: 9vw; 
      top: -9px;
      left: -49px;
  
  }
  
  /* nav toggle */
  .nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    left: 4rem;
    position: fixed;
    top: 2rem;
    width: 1.9rem;
    height: 20px;
    z-index: 2;
    
   
  }
  
  
  .nav-toggle:hover {
    opacity: 0.8;
  }
  .nav-toggle .nav-toggle-bar, .nav-toggle .nav-toggle-bar::after, .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: white;
    content: '';
    height: 4px;
    width: 100%;
  
  }
  .nav-toggle .nav-toggle-bar {
    margin-top: 0;
    left: -43px;
  }
  .nav-toggle .nav-toggle-bar::after {
    margin-top: 0.5rem;
  }
  .nav-toggle .nav-toggle-bar::before {
    margin-top: -0.5rem;
  }
  .nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
  }
  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    margin-top: 0;
  }
  .nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* nav */
  .nav {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
      background: #ED9822;
      cursor: pointer;
      font-size: 2rem;
      height: 101vh;
      left: -18rem;
      padding: 100px;
      position: fixed;
      width: 18rem;
      z-index: 1;
      top: -1px;
  }
  
  .nav.expanded {
    left: 0;
  }
  
  .nav ul {
    width: 83%;
    position: absolute;
    top: 50%;
    left: 25px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  #logo {
     position: absolute;
     width: 55vw;
     top: 81px;
     left: 42px;    
   }
  
  
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align:center;
  }
  
  ul {
    border-color: rgb(255, 255, 255, 0.3);
    border-width: 0 0 0.6px 0;
    border-style: solid;
  }
  
  
  li {
    
    padding: 18px 0px;
    border-color: rgb(255, 255, 255, 0.3);
    border-width: 0.6px 0 0 0;
    border-style: solid;
    font-family: 'Myriad Pro Light';
    font-size: 12pt;
    letter-spacing: 0.8px;
  }
  
  @font-face {
    src: url(Fonts/myriad-pro-cufonfonts/MyriadPro-Light.tff);
    font-family: 'Myriad Pro Light';
}